body {
    font-size: 18px;
    font-family: 'Roboto Mono Light', sans-serif;
}

h2, .h2 {
    font-size: 24px;
    font-family: 'Special Elite', sans-serif;
    color: #333;
}

nav {
    background: #ffffff;
}

section {
    position: relative;
}

main.main-content {
    border-top: 1px solid black;
}

.anchor {
    display: block;
    height: 73px;
    margin-top: -73px;
    visibility: hidden;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
}

.section-name {
    border-top: 1px solid black;
    text-align: right;
    font-size: 14px;
}

.brand-logo img {
    width: 200px;
    text-align: center;
}

.slick-prev:before, .slick-next:before {
    color: #000000;
}

.slider img {
    height: 300px;
}

.slick-slider {
    margin: 0 15px 30px 15px;
}

.slick-slide {
    margin: 15px;
}

button.dropdown-toggle:after {
    content: none;
}

/* Responsive Styles */
@media (min-width: 992px) {
    section {
        padding: 0 50px;
    }
}