body {
    font-family: 'Special Elite', cursive;
}

nav {
    background: #ffffff;
}

section {
    position: relative;
}

main.main-content {
    border-top: 1px solid black;
}

.anchor {
    display: block;
    height: 73px;
    margin-top: -73px;
    visibility: hidden;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-name {
    border-top: 1px solid black;
    text-align: right;
}

.brand-logo img {
    width: 200px;
    text-align: center;
}

.slider img {
    height: 300px;
}

.slick-slide {
    margin: 15px;
}

button.dropdown-toggle:after {
    content: none;
}